<?php

return array(
    'db_credentials' => [
        'host'     => 'localhost',
        'user'     => 'root',
        'password' => '',
        'database' => 'youarenotalone',
    ],
    'web_hook_url' => 'https://gold.arrache.ch/web_hook.php',
    'bot_api_key' =>  '585514040:AAG3Kaug44Db4Or9KFbY_dkoAs_mfwe5TNU',
    'bot_username' => 'youarenotalone'
);
